In [ ]:
# Exercise 1:
# Create the following arrays:
# 1. A 1D array of numbers from 0 to 9
# 2. A 2D array of shape (3, 4) filled with zeros
# 3. A 3x3 identity matrix
# 4. A 1D array of 10 equally spaced values between 1 and 100
# 5. A 3x3 array with random integers between 10 and 50
# Print all arrays
# Your code here:

In [ ]:
# Exercise 2:
# Create a 3D array with shape (2, 3, 4) using random numbers
# Find and print:
# - Number of dimensions
# - Shape of the array
# - Total number of elements
# - Data type of elements
# - Size in bytes of each element
# - Total memory consumed by the array
# Your code here:

In [ ]:
# Exercise 3:
# Create a 1D array of numbers from 1 to 20
# Perform the following operations:
# - Access the first, last, and middle elements
# - Slice the array to get elements from index 5 to 15
# - Get all even numbers using slicing
# - Reverse the array using slicing
# Your code here:

In [ ]:
# Exercise 4:
# Create a 5x5 array with numbers from 1 to 25
# Perform the following tasks:
# - Access the element at row 2, column 3
# - Extract the third row and second column
# - Slice a 3x3 sub-matrix from the center
# - Replace all values in the last row with 0
# - Change the first column to all -1
# Your code here:

In [ ]:
# Exercise 5:
# Create a 1D array of 15 random integers between 1 and 50
# Perform the following:
# - Select elements at indices [1, 3, 5, 7]
# - Find all elements greater than 25
# - Replace all values less than 10 with 10
# - Count how many values are between 20 and 40 (inclusive)
# - Extract only the odd numbers from the array
# Your code here: